img {
    width: auto;
    height: 600px;

}

/*Container for image and text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    text-align: justify;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

h5 {
    text-align: center;
    margin: 80px;
    margin-left: 20%;
    
}

#pic {
    width: 200px;
    height: 50px;
}

#pics {
    width: 300px;
    height: 50px;
}
hr.solid {
    border-top: 3px solid grey;
    width: 700px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    text-align: center;
}
.about {
    flex-wrap: wrap;
    justify-content: center;

}
